  @page "/Estudiante"
  @using Data.Models


<PageTitle>Estudiante</PageTitle>
<h1 style="text-align:center ;">Registro de Estudiante</h1>

  <label for="txtNombre">Nombre</label>
    <input name="txtNombre" id="txtNombre" type="text" class="form-control" placeholder="Inrese su Nombre" required>
    <label for="txtApellidos" >Apellido</label>
    <input name="txtApellidos"  type="text" class="form-control"  placeholder="Ingrese su Apellido" required>
    <label for="txtFN">Fecha Nacimiento</label>
    <input style="width: 285px;" name="txtFNa" id="txtFN"  type="date" class="form-control"  required>
    <label for="txtMatricula">Matricula</label>
    <input style="width: 285px;" name="txtMatricula" id="txtMatricula"  type="text" class="form-control"  placeholder="Ingrese su Matricula" required>
    <label for="txtCarrera">Carrera</label>
    <input style="width: 285px;" name="txtCarrera" id="txtCarrera" type="text" class="form-control"  placeholder="Carrera" required>
   
     <button type="submit" class="btn btn-primary">Registrar</button>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha de Nacimiento</th>
            <th>Matricula</th>
            <th>Carrera</th>

        </tr>
    </thead>
    </table>
 

@code{
    public int EstudianteID  {get; set;}
    public string Nombres  {get; set;} = null!;
    public string Apellidos  {get; set;}= null!;
    public DateTime FechaNacimiento   {get; set;}
    public string Matricula {get; set;}= null!;
    public int Carrera {get; set;}
}
